.content {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-image: url("../../../public/img/assets/home/night_sky.jpeg"); */
  background-size: cover;
}

/* first card start */
.home-banner {
  width: 100%;
  height: 95vh;
  min-height: 500px;
  /* background-image: url("/img/assets/home/night_sky.png"); */
  /* background-image: url("../../assets/home/night_sky.png"); */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 70px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sky-logo {
  width: 200px;
  height: auto;

  position: relative;
}

.home-button {
  margin-top: 60px;
}

.closet-span {
  font-family: new_romantic;
  color: white;

  letter-spacing: 5px;
  font-size: 1.5em;
}

/* first card end */

.home-body {
  /* background-color: rgb(147, 150, 189); */

  height: 100vh;
  min-height: 600px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-card,
.right-card {
  /* background-color: red; */
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-card {
  align-items: flex-end;
  /* padding-right: 100px; */

  /* background-color: pink; */
}

.right-card {
  align-items: flex-start;
  /* padding-left: 100px; */
}

.decor-posts {
  /* background-color: blue; */
  width: 100%;
  height: 60%;

  position: relative;
}

.decor-post1 {
  position: absolute;
  z-index: 1;

  bottom: 0px;
  right: 20px;
}

.decor-post2 {
  position: absolute;
  top: 0px;
  right: 180px;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  text-align: center;

  margin: 0 100px;
}

.home-card h2 {
  font-size: 2.4em;
  margin-bottom: 0;
}

.home-card p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.card2-image {
  width: 300px;
  border-radius: 10px;
}

.card1 {
  /* background-color: lightblue; */
}

.card2 {
  background-color: rgb(212, 235, 245);
}

.decor-icon-layout {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */

  position: relative;

  margin: 0 80px;
}

.decor-icon-wrapper {
  display: flex;
  flex-direction: column;

  /* background-color: red; */
  height: 330px;
  overflow: hidden;

  width: 90px;

  position: absolute;
  right: -100px;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.decor-icon {
  width: 90px;
  height: 90px;
  z-index: 1;

  background-color: rgba(20, 18, 14, 0.562);
  border-radius: 10px;
}

.decor-icon-slider {
  /* total height should be 300px / 260px to get thru all*/

  /* transform: translateY(30%); */
  animation: slideUp 20s linear infinite;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(
      -50%
    ); /* Move by half since we duplicated the items */
  }
}
