.content {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-image: url("../../../public/img/assets/home/night_sky.jpeg"); */
  background-size: cover;
}

/* first card start */
.home-banner {
  width: 100%;
  height: 95vh;
  /* background-image: url("/img/assets/home/night_sky.png"); */
  /* background-image: url("../../assets/home/night_sky.png"); */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 40px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sky-logo {
  width: 200px;
  height: auto;

  position: relative;
}

.home-button {
  margin-top: 60px;
}

.closet-span {
  font-family: new_romantic;
  color: white;

  letter-spacing: 5px;
  font-size: 1.5em;
}

/* first card end */

.home-body {
  /* background-color: rgb(147, 150, 189); */

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-card,
.right-card {
  /* background-color: red; */
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decor-posts {
  /* background-color: pink; */
  width: 100%;
  height: 60%;

  position: relative;
}

.decor-post1 {
  position: absolute;
  z-index: 1;

  bottom: 0px;
  right: 20px;
}

.decor-post2 {
  position: absolute;
  top: 0px;
  right: 180px;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2-image {
  width: 350px;
}

.card1 {
  background-color: lightblue;
}

.card2 {
  background-color: rgb(245, 234, 212);
}
